$color1: #8236EB;
$color2: #2E63F2;
$color3: #35D3DB;
$color4: #2EF26E;
$color5: #B8EB85;
$color6: #EBA722;
$rock: #8EB0A7;
$ghost: #A3D2E6;
$electric: #E6D53E;
$bug: #F6D6A7;
$poison: #e0a7f6;
$normal: #F4F4F4;
$fairy: #F598B5;
$fire: #E59F96;
$grass:#E2F9E1;
$water:#E0F1FD;